@using Handicraft_Shop.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link href="~/bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/bootstrap/bootstrap/css/Layout.css" rel="stylesheet" />
    <script src="~/bootstrap/bootstrap/js/Layout.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <title>@ViewBag.Title</title>

    <style>
        /* Đảm bảo layout có thể cuộn đúng */
        html, body {
            
            margin: 0;
            margin: 0;
            padding: 0;
            padding-top: 30px;
            width: 100%;
            height: 100%;
            overflow-x: hidden; /* Chặn cuộn ngang */
        }
    </style>
</head>

<body>
    <header class="p-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/NhanVien/IndexNhanVien" class="d-flex align-items-center mb-2 mb-lg-0  text-decoration-none">
                    <img src="~/HinhAnhSP/LOGO/Logo.jpg" class="bi me-2" width="50" height="auto" />

                </a>

                <ul class="nav col-11 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <div class="header__nav dropdown quan-ly-nghiep-vu">
                            <a href="javascript:;" class="nav-link px-2 dropdown-toggle" id="quanLyNghiepVuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Danh Mục Sản phẩm
                            </a>
                            <div class="submenu">
                                @Html.Action("NhanVienMenuCap1", "NhanVien")
                            </div>
                        </div>
                    </li>
                    <li><a href="/NhanVien/IndexNhanVien#Product" class="nav-link px-2 ">Danh Sách Sản Phẩm</a></li>
                    <li class="nav-item dropdown quan-ly-nghiep-vu">
                        <a href="#" class="nav-link dropdown-toggle px-2" id="quanLyNghiepVuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Quản Lý Nghiệp Vụ
                        </a>
                        <ul class="dropdown-menu quan-ly-nghiep-vu-dropdown" aria-labelledby="quanLyNghiepVuDropdown">
                            @*<li><a class="dropdown-item" href="/NhanVien/NhanVienQuanLyNhaCungCap">Quản Lý Nhà Cung Cấp</a></li>
                            <li><a class="dropdown-item" href="/NhanVien/NhanVienQuanLySanPham">Quản Lý Sản Phẩm</a></li>*@
                            <li><a class="dropdown-item" href="/NhanVien/NhanVienQuanLyKhachHang">Quản Lý Khách Hàng</a></li>
                            <li><a class="dropdown-item" href="/NhanVien/NhanVienQuanLyDonHang">Quản Lý Đơn Hàng</a></li>

                            <!-- Dropdown phụ cho Báo Cáo Thống Kê -->
                            <li class="dropdown-submenu bao-cao-thong-ke-menu">
                                <a href="#" class="dropdown-item " id="quanLyNghiepVuDropdown baoCaoThongKeDropdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Báo Cáo Thống Kê
                                </a>
                                <ul class="dropdown-menu bao-cao-thong-ke-dropdown" id="baoCaoThongKeSubmenu">
                                    <li><a class="dropdown-item" href="/NhanVien/NhanVienBaoCaoSanPhamBanChay">Sản Phẩm Bán Chạy Nhất</a></li>
                                    @*<li><a class="dropdown-item" href="/NhanVien/NhanVienBaoCaoDoanhThu">Doanh Thu</a></li>*@
                                    <li><a class="dropdown-item" href="/NhanVien/NhanVienBaoCaoKhachHang">Khách Hàng Mua Nhiều Nhất</a></li>
                                    <li><a class="dropdown-item" href="/NhanVien/NhanVienBaoCaoTonKho">Số Lượng Tồn Kho</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>





                </ul>

                <div class="text-end">
                    @if (Session["User"] == null)
                    {
                        <!-- Nếu chưa đăng nhập -->
                        <a href="/Home/Login" class="btn btn-outline-light me-2">Đăng Nhập</a>
                        <a href="/Home/SignUp" class="btn btn-outline-success me-2">Đăng Ký</a>
                    }
                    else
                    {
                        <!-- Nếu đã đăng nhập -->
                        <div class="user-menu">
                            <a href="javascript:void(0);" class="user-menu-toggle">
                                <span>@Session["UserName"]</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16">
                                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512h388.6c16.4 0 29.7-13.3 29.7-29.7 0-98.5-79.8-178.3-178.3-178.3h-91.4z" />
                                </svg>
                            </a>
                            <div class="user-dropdown">
                                <a href="/Home/Logout">Đăng Xuất</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    @using (Html.BeginForm("NhanVienSearch", "NhanVien", FormMethod.Get, new { @class = "form-inline", onsubmit = "return validateSearch();" }))
                    {
                        <div class="form-group">
                            <input type="text" id="searchInput" class="form-control mx-sm-3"
                                   value="@ViewBag.SearchString" name="searchString"
                                   placeholder="Nhập tên cần tìm"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập tên cần tìm'">
                            <button type="submit" class="btn btn-light">
                                <img class="icon-search" src="https://salt.tikicdn.com/ts/upload/33/d0/37/6fef2e788f00a16dc7d5a1dfc5d0e97a.png" alt="icon-search" style="width:25px;height:25px;color:white">
                            </button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </header>
    @RenderSection("Scripts", required: false)
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="grid__row">
                <div class="grid__column-2-4">
                    <h3 class="footer__heading"><i class="fas fa-headset"></i> Chăm sóc khách hàng</h3>
                    <ul class="footer__list">
                        <li class="footer-item">
                            <a href="#" class="footer-item__link"><i class="fas fa-info-circle"></i> Trung Tâm Trợ Giúp</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-item__link"><i class="fas fa-envelope"></i> Handicraft Shop Mail</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-item__link"><i class="fas fa-question-circle"></i> Hướng Dẫn Mua Hàng</a>
                        </li>
                    </ul>
                </div>

                <div class="grid__column-2-4">
                    <h3 class="footer__heading"><i class="fas fa-info-circle"></i> Về Handicraft Shop</h3>
                    <ul class="footer__list">
                        <li class="footer-item">
                            <a href="#" class="footer-item__link"><i class="fas fa-users"></i> Giới Thiệu</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-item__link"><i class="fas fa-briefcase"></i> Tuyển Dụng</a>
                        </li>
                        <li class="footer-item">
                            <a href="#" class="footer-item__link"><i class="fas fa-file-contract"></i> Điều Khoản</a>
                        </li>
                    </ul>
                </div>

                <div class="grid__column-2-4">
                    <h3 class="footer__heading"><i class="fas fa-share-alt"></i> Theo dõi</h3>
                    <div class="footer__social">
                        <a href="#" class="fab fa-facebook"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <p>© 2024 - Bản quyền thuộc về Handicraft Shop</p>
        </div>
    </footer>
    <script>
        function validateSearch() {
            var searchInput = document.getElementById("searchInput");
            if (searchInput.value.trim() === "") {
                searchInput.focus(); // Focus vào ô input nếu rỗng
                return false; // Ngăn form gửi đi
            }
            return true; // Cho phép form gửi đi nếu có nội dung
        }
    </script>
</body>
</html>
